
      <footer class="footer">
        <div class="container">
          <p class="text-muted">&copy; WeCamp 2020 <a href="https://www.linkedin.com/in/saheenkhan1992/">Saheen Khan</a> | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new"> New Campground</a></p>
        </div>
      </footer>
  </body>
</html>
