/* Thumbnail Styles */
.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

/* Campground show page delete button */
.delete-form {
  display: inline;
}

.heading {
  text-align: center; 
  margin-bottom: 40px;
}

/* Login and other forms design */
.formDesign {
  width:30%; 
  margin: 25px auto;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

/* Sticky header style */
.header1 {
  background-color: rgb(46, 109, 164);
  color: white;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
